/* Styles de la sidebar (mode étendu par défaut) */
.sidebar {
  width: 250px;
  transition: width 0.3s ease;
  padding: 75px 10px;
  //z-index: 10; /* Assure que la sidebar est au-dessus du bouton initialement */
}

.sidebar.collapsed {
  width: 45px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 40px;
  height: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--mat-sys-primary);
  padding: 10px;
  border-radius: 5px;
}

nav a:hover,
nav a.active {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-primary-container);
}

nav a i {
  margin-right: 10px;
  font-size: 1.2em;
  width: 24px; /* Pour aligner les icônes en mode réduit */
  text-align: center;
}

.sidebar.collapsed nav a i {
  margin-right: 0;
}

.label {
  margin-left: 10px;
}

.sidebar.collapsed .label {
  display: none;
}

/* Styles du bouton de bascule */
.toggle-btn {
  //background: none;
  //border: none;
  //cursor: pointer;
  //font-size: 1.5em;
  //padding: 10px;
  position: absolute;
  top: 20px; /* Ajustez la position verticale selon vos besoins */
  left: 250px; /* Position initiale à la limite de la sidebar étendue */
  //transform: translateX(-50%); /* Centre le bouton sur la bordure */
  transition: left 0.3s ease;
  //z-index: 20; /* Assure que le bouton est au-dessus de tout */
}

.sidebar.collapsed + .toggle-btn {
  left: 45px; /* Position lorsque la sidebar est réduite */
}

/* Media query pour les écrans de moins de 600px de largeur */
@media (max-width: 599px) {
  .sidebar {
    width: 45px;
  }

  .sidebar .label {
    display: none;
  }

  .toggle-btn {
    display: none;
  }
}
