.app-container {
  display: flex;
  min-height: 100vh; /* Assure que le conteneur prend au moins la hauteur de l'écran */
}

app-menu {
  background-color: var(--mat-sys-primary-container);
  display: flex;
  flex-direction: column;
}

/* Styles du contenu principal */
.main-content {
  flex-grow: 1;
  padding: 10px 10px 10px 30px;
}
